body {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.list-items {
    display: none;
    justify-content: center;
    align-items: center;
}

.list-items li {
    padding-right: 1em;
    list-style: none;
}

.list-items a {
    text-decoration: none;
    color: black;
}

.hamburger {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer ;
}

.hamburger:focus {
    outline: none;
}



.list-items.show {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.start {
    height: 70vh;
    background-image: url(guitar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(245, 245, 245, 0.945);
    display: flex ;
    justify-content: center;
    align-items: center;
}

.info {
    margin-bottom: 80px;
    text-align: left;
}

.info p {
    color: white;
}

.center {
    width: 90%;
    margin: 0 auto;
}

.about {
    background: lightgrey;
    padding: 2em 0;
}

.summary h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.summary p {
    font-size: 2rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.628);
}
h1 {
    font-size: 7rem;
    margin: 0;
    font-family: 'Smooch', cursive;
}

.author {
    font-size: 2.5rem;
    margin-top: 0px;
}


    .feedback-input {
        color: black;
        font-weight:500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid lightgray;
        transition: all 0.3s;
        padding: 12px;
        margin-bottom: 15px;
        margin-top: 20px;
        width:90%;
      }
      
      .feedback-input:focus { border:2px solid #CC4949; }
      
      textarea {
        height: 150px;
        line-height: 150%;
        resize:vertical;
      }
      
      [type="submit"] {
        width: 90%;
        background:#afedf5;
        border-radius:5px;
        border:0;
        cursor:pointer;
        color:rgba(0, 0, 0, 0.482);
        font-size:24px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
      }
      [type="submit"]:hover { background:#CC4949; }


      form {
        text-align: center;
        padding: 2em 0;
      }

      .connect-btn {
        text-decoration: none;
        color: white;
        background-color: #4cbac8;
        padding: .5em 2em;
        border-radius: 12px;
        font-weight: 600;
      }

      .connect-btn:active {
        background-color: aquamarine;
      }

      .genre {
        margin-bottom: 4em;
      }


