body {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    flex-wrap: wrap;
    margin: 0;
}

.list-items {
    display: flex;
}
h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

li {
    list-style: none;
    margin-left: 5em;
}

a {
    text-decoration: none;
    color: gold;
    font-size: 1.5rem;
    border-radius: 12px;
}

header {
    background-color: rgb(45, 179, 166);
}

h2 {
    margin: 0;
    font-size: 6rem;
    color: white;
    text-align: center;
}

.hamburger {
    display: none;
}

.section1 {
    background-color: rgb(45, 179, 166);  
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socials {
    text-align: center;
}

.two {
    margin-top: 20em;
    transform: rotate(80deg);
    width: 40%;
}

.one {
    width: 50%;
    padding: 1em;
}


.section2 {
    background-image:     linear-gradient(90deg, rgba(2,0,36,0.52) 0%, rgba(121,9,69,0.7) 35%, rgba(0,212,255,1) 100%)
    ,url(section2.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.three {
    text-align: center;
    margin-top: 5em;
}

.three p {
    margin-top: 5em;
    font-size: 2rem;
    color: gold;
}

.section3 {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    background-color: deeppink;
    align-items: center;
}



.img img {
    width: 100%;
}

.info {
    padding: 2em;
    width: 95%;
    color: white;
}

.info h2 {
    text-align: left;
}

.info p {
    line-height: 1.4em;
    font-size: 1.2rem;
}

span {
    color: gold;
}

.section4 {
    background-color: rgb(167, 89, 102);
    padding: 2em 0;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    margin: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 12px;
}

.sub-container a {
    background-color: gold;
    color: rgb(167, 89, 102);
    padding: .3em 2em;
    text-align: center;

}

footer {
    padding: .1em 0;
    background-color: rgb(185, 185, 71);
}

footer p {
    text-align: center;
    color: white;
}




@media (max-width: 600px) {


    svg {
        width: 32px;
        height: 32px;
    }

    .two {
        margin-bottom: 15em;
        transform: rotate(0deg);
        margin-top: 15em;
        width: 50%;
    }

    .img {
        padding: 1em;
    }
    .info p {
        font-size: 1rem;
    }

    .two img{
        width: 100%;
    }

    .section4 h2 {
        font-size: 3rem;
    }

    .sub-container {
        flex-direction: column;
    }

    .list-items {
        display: none;
    }

    .list-items li {
        margin-left: 0;
    }

    .hamburger {
        display: block;
        background: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer ;
        color: white;
    }

    .three {
        margin-top: 1em;
    }

    .show {
        display: block;
        width: 100%;
        text-align: center;
    }

}
